In [2]:
import pandas as pd

# csv 형식으로 된 데이터 파일을 읽어옵니다.
train = pd.read_csv('iris_train.csv')

# 데이터의 맨 앞 5 줄을 표시합니다.
train.head()

,id,species,sepal length (cm),petal length (cm),sepal width (cm),petal width (cm)
0,0,setosa,4.4,1.4,2.9,0.2
1,1,versicolor,6.4,4.5,3.2,1.5
2,2,virginica,6.2,4.8,2.8,1.8
3,3,virginica,7.2,6.1,3.6,2.5
4,4,setosa,4.9,1.4,3.0,0.2

In [3]:
# 꽃받침의 길이와 너비를 각각 따로 저장합니다.
sepal_length = train['sepal length (cm)']
sepal_width = train['sepal width (cm)']

sepal_width

0     2.9
1     3.2
2     2.8
3     3.6
4     3.0
     ...
70    2.8
71    2.9
72    2.2
73    2.4
74    3.1
Name: sepal width (cm), Length: 75, dtype: float64

In [14]:
import numpy as np

# 꽃받침 길이의 평균과 꽃받침 너비의 평균을 구합니다.
sepal_length_mean = np.mean(sepal_length)
sepal_width_mean = np.mean(sepal_width)

# 두 값을 나누어 주어서 꽃받침의 길이와 너비의 관계를 살펴봅니다.
print(f"꽃받침 길이의 평균:{sepal_length_mean:.2f} \n꽃받침 너비의 평균:{sepal_width_mean:.2f}")
print(f"따라서 꽃받침 너비는 꽃받침 길이의 평균 {sepal_width_mean/sepal_length_mean}배 입니다.")
ax = sepal_width_mean/sepal_length_mean

# Y는 꽃받침의 너비
# X는 꽃받침의 길이
# Y = aX+b
# 즉 a는 0.49

꽃받침 길이의 평균:6.04
꽃받침 너비의 평균:2.96
따라서 꽃받침 너비는 꽃받침 길이의 평균 0.48952128833002434배 입니다.
0.48952128833002434

In [24]:
ax = round(ax,5)
#print(ax)
#print(sepal_width_mean)
#print(sepal_length_mean)
#print(ax*sepal_length_mean)
b = sepal_width_mean - ax * sepal_length_mean

print(f"업데이트 된 방정식의 b는 {b} 입니다.")

업데이트 된 방정식의 b는 7.786666667009001e-06 입니다.

In [25]:
predict_sepal_width = ax * sepal_length - b
predict_sepal_width

0     2.153880
1     3.132920
2     3.035016
3     3.524536
4     2.398640
        ...
70    3.181872
71    2.741304
72    3.035016
73    2.398640
74    3.377680
Name: sepal length (cm), Length: 75, dtype: float64

In [26]:
import numpy as np

def MAE(true, pred):
    score = np.mean(np.abs(true-pred))
    return score

# 실제 정답 값을 준비합니다.
real_sepal_width = sepal_width.copy()

# 정답과 예측 값을 함수에 넣어 결과를 확인합니다.
mean_error = MAE(real_sepal_width, predict_sepal_width)

print(f"이 방정식의 평균 에러는 {mean_error:.2f} 입니다.")

이 방정식의 평균 에러는 0.43 입니다.

In [27]:
# 데이터 선택하기
petal_length = train['petal length (cm)']
petal_width = train['petal width (cm)']

# 꽃잎 길이의 평균과 꽃잎 너비의 평균을 구합니다.
petal_length_mean = np.mean(petal_length)
petal_width_mean = np.mean(petal_width)

# 두 값을 나누어 주어서 꽃잎의 길이와 너비의 관계를 살펴봅니다.
print(f"꽃잎 길이의 평균:{petal_length_mean:.2f} \n꽃잎 너비의 평균:{petal_width_mean:.2f}")
print(f"따라서 꽃잎 너비는 꽃잎 길이의 평균 {petal_width_mean/petal_length_mean:.2f}배 입니다.")
a = petal_width_mean/petal_length_mean

# 꽃받침과 같은 방식으로 b를 구합니다.
b = petal_width_mean - 0.32 * petal_length_mean

print(f"업데이트 된 방정식의 b는 {b:.2f} 입니다.")

꽃잎 길이의 평균:4.26
꽃잎 너비의 평균:1.38
따라서 꽃잎 너비는 꽃잎 길이의 평균 0.32배 입니다.
업데이트 된 방정식의 b는 0.02 입니다.

In [28]:
# 에측 값을 구합니다.
predict_petal_width = 0.32 * petal_length - 0.02

# 실제 정답 값을 준비합니다.
real_petal_width = petal_width.copy()

# 정답과 예측 값을 함수에 넣어 결과를 확인합니다.
mean_error = MAE(real_petal_width, predict_petal_width)

print(f"이 방정식의 평균 에러는 {mean_error:.2f} 입니다.")

이 방정식의 평균 에러는 0.21 입니다.

In [29]:
# 우리가 예측하고자 하는 test 데이터를 불러옵니다.
test = pd.read_csv('iris_test.csv')

test.head()

   id    species  sepal length (cm)  petal length (cm)
0   0     setosa                5.4                1.7
1   1     setosa                5.7                1.5
2   2     setosa                5.3                1.5
3   3     setosa                5.1                1.9
4   4  virginica                6.0                4.8

In [30]:
# 예측의 재료를 가져옵니다.
sepal_length = train['sepal length (cm)']
petal_length = train['petal length (cm)']

# 예측을 진행합니다.
predict_sepal_width = 0.5 * sepal_length - 0.06
predict_petal_width = 0.3 * petal_length - 0.75

# 예측 결과를 확인합니다.
predict_petal_width

0    -0.33
1     0.60
2     0.69
3     1.08
4    -0.33
      ...
70    0.63
71    0.33
72    0.60
73    0.24
74    0.72
Name: petal length (cm), Length: 75, dtype: float64

In [31]:
# 제출용 sample 파일을 불러옵니다.
submission = pd.read_csv('sample_submission.csv')
submission.head()

   id  sepal width (cm)  petal width (cm)
0   0                 0                 0
1   1                 0                 0
2   2                 0                 0
3   3                 0                 0
4   4                 0                 0

In [32]:
# 위에서 구한 예측값을 그대로 넣어줍니다.
submission['sepal width (cm)'] = predict_sepal_width
submission['petal width (cm)'] = predict_petal_width

# 데이터가 잘 들어갔는지 확인합니다.
submission

    id  sepal width (cm)  petal width (cm)
0    0              2.14             -0.33
1    1              3.14              0.60
2    2              3.04              0.69
3    3              3.54              1.08
4    4              2.39             -0.33
..  ..               ...               ...
70  70              3.19              0.63
71  71              2.74              0.33
72  72              3.04              0.60
73  73              2.39              0.24
74  74              3.39              0.72

[75 rows x 3 columns]

In [33]:
# submission을 csv 파일로 저장합니다.
# index=False란 추가적인 id를 부여할 필요가 없다는 뜻입니다. 
# 정확한 채점을 위해 꼭 index=False를 넣어주세요.
submission.to_csv("submission.csv", index=False)

In [34]:
# 탐색할 a와 b의 후보들을 마련합니다.
a_list = [0.48, 0.49, 0.5, 0.51, 0.52] # 0.01 단위로 변화
b_list = [-0.058, -0.059, -0.06, -0.061, -0.062] # 0.001 단위로 변화

In [40]:
# 각각의 후보자들 중에서 가장 에러가 적은 후보를 고르는 함수를 작성합니다.
def find_best_params(sepal_length, sepal_width):
    min_error = 999

    for a in a_list:
        for b in b_list:
            
            predict = a * sepal_length + b
            error = MAE(sepal_width, predict)
            
            if error < min_error:
                print("\n")
                print("모델 개선이 가능합니다.")
                print(f"a={a}, b={b}")
                print(f"error={error:.5f}")
                min_error = error
                coef, bias = a,b
    print("\n")
    print(f"최적의 parameter는 a = {coef}, b = {bias}\n이때 평균 에러는 {min_error:.2f} 입니다.")
    print("\n")
    return coef, bias, min_error

a,b, error = find_best_params(sepal_length, sepal_width)
print("기존 방정식의 평균 에러 : 0.43")
print(f"모델 성능 개선 : {0.43 - error:.2f}")

모델 개선이 가능합니다.
a=0.48, b=-0.058
error=0.41373


모델 개선이 가능합니다.
a=0.48, b=-0.059
error=0.41369


모델 개선이 가능합니다.
a=0.48, b=-0.06
error=0.41365


모델 개선이 가능합니다.
a=0.48, b=-0.061
error=0.41361


모델 개선이 가능합니다.
a=0.48, b=-0.062
error=0.41357


최적의 parameter는 a = 0.48, b = -0.062
이때 평균 에러는 0.41 입니다.


기존 방정식의 평균 에러 : 0.43
모델 성능 개선 : 0.02